@import url(http://fonts.googleapis.com/css?family=Roboto:300);
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-size: 150%;
  line-height: 1.625;
  font-family: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url(../videos/laser_01_preview.jpg) no-repeat 50% 50%;
  background-size: cover;
  transition: 1s opacity;
}

@media (min-width: 768px) {
    ul.list-exhibitions li {
      margin-left: 5em;
    }
}


/* base styles
  --------------------------------------------- */
@media (min-width: 992px) {
  .parallax__group .body {
    margin-top: 7%;
    max-width: 900px;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 999;
  }
  html, body {
    overflow: hidden;
  }
  .parallax {
    height: 500px;
    /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
  }
  .parallax__group {
    position: relative;
    height: 500px;
    /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }
  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }
  .parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
  }
  .parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
  }


  /* group styles
    --------------------------------------------- */

  #group1 {
    z-index: 5;
    /* slide over group 2 */
  }
  #group1 .parallax__layer--base {
    /* background: white url(../images/irid_detail_2.jpg) no-repeat 50% 50%; */
	background: white url(../images/update2016/2.jpg) no-repeat 50% 50%;	
    background-size: cover;
  }
  #group2 {
    z-index: 3;
    /* slide under groups 1 and 3 */
  }
  #group2 .parallax__layer--back {
    /* background: white url(../images/irid_detail_3.jpg) no-repeat 50% 50%; */
	background: white url(../images/update2016/1.jpg) no-repeat 50% 50%;
    background-size: cover;
  }
  #group3 {
    z-index: 4;
    /* slide over group 2 and 4 */
  }
  #group3 .parallax__layer--base {
    /* background: white url(../images/irid_detail_2.jpg) no-repeat 50% 50%; */
	background: white url(../images/update2016/2.jpg) no-repeat 50% 50%;
    background-size: cover;
  }
  #group4 {
    z-index: 2;
    /* slide under group 3 and 5 */
  }
  #group4 .parallax__layer--deep {
    /* background: white url(../images/orange.jpg) no-repeat 50% 50%; */
	background: white url(../images/update2016/3.jpg) no-repeat 50% 50%;
    background-size: cover;
  }
  #group5 {
    z-index: 3;
    /* slide over group 4 and 6 */
  }
  #group5 .parallax__layer--base {
    background: lightgray;
    background: rgba(255, 255, 255, 0.23);
  }

  /*#group6 {
    z-index: 2;
  }
  #group6 .parallax__layer--back {
    background: white url(../images/transparent.png) no-repeat 50% 50%;
    background-size: cover;
  }*/

  #group7 {
    z-index: 3;
  }
  #group7 .parallax__layer--fore {
    /* background: white url(../images/pink.jpg) no-repeat 50% 50%; */
	background: white url(../images/update2016/4.jpg) no-repeat 50% 50%;
    background-size: cover;
  }
  #group7 .parallax__layer--back {
    background: white url(../images/transparent.png) no-repeat 50% 50%;
    background-size: contain;
  }

  #group8 {
    z-index: 6;
  }
  #group8 .parallax__layer--fore {
    /*background: white url(../images/yellow.png) no-repeat 50% 50%;*/
    background: white url(../images/transparent.png) no-repeat 50% 50%;
    background-size: contain;
  }
  #group9 {
    z-index: 2;
    /* slide under group 3 and 5 */
  }
  #group9 .parallax__layer--base {
    background: rgba(255, 255, 255, 0.6) url(../images/irid_detail.png) no-repeat 50% 50%;
    background-size: contain;
  }

  #group10 {
    z-index: 6;
  }
}
/* other styles
  --------------------------------------------- */

.logo {
  margin-right: auto;
  margin-left: 40%;
  left: 0;
  width: 30%;
  position: absolute;
  bottom: 10%;
  color: white;
}
.logo a {
  background: rgba(0, 0, 0, 0.2);
  color: white;
}
h1.logo {
  text-transform: uppercase;
  letter-spacing: .5rem;
}
h1.logo small{
  color: rgba(220, 250, 240, 0.9);
  background: rgba(0, 0, 0, 0.2);
}

.textOverlay {
  margin-left: 3%;
  padding-right: 2%;
}

.textOverlay h1,
.textOverlay h2,
.textOverlay h3,
.textOverlay h4,
.textOverlay h5 {
  color: white;
  padding-left: 2%;
  padding-right: 2%;
}

.textOverlay h1 {
  font-weight: bolder;
}

.textOverlay a.unstyled {
  color: white;
}

/*.highlightTextOverlay a,
.highlightTextOverlay h1,
.highlightTextOverlay h2,
.highlightTextOverlay h3,
.highlightTextOverlay h4,
.highlightTextOverlay h5 {
  font-weight: lighter !important;
  transition: 1s background;
}*/

.textOverlay .row{
  margin-bottom: 2.5%;
}

.boxed {
  border: 1px solid white;
  width: 100%;
  padding: 2px;
  padding-left: 7px;
  padding-right: 7px;
}

.uppercase {
  text-transform: uppercase;
}

a.unstyled {
  text-decoration: none;
  cursor: alias;
}

/*.highlightTextOverlay a.unstyled {
  font-weight: lighter !important;
}*/

.masthead {
  border-radius: 180px;
  box-shadow: 0px 0px 20px lightgray;
}
.video_overlay {
  opacity: .3;
}
.grayModal {
  padding: 2rem;
  margin: 2rem;
  color: white;
  background: rgba(0, 0, 0, 0.3);
}
.grayModal a:hover{
  text-decoration: none;
  cursor: alias;
}
.pause button {
  position: absolute;
  bottom: 1%;
  right: 1%;
  display: block;
  margin: 2rem;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  color: #fff;
  background: rgba(255, 255, 255, 0.23);
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s background;
}
.pause button:hover {
  background: rgba(0, 0, 0, 0.5);
  cursor: no-drop;
}

.footer-block {
  background: white url(../images/transparent.png) no-repeat 50% 50%;
}

.last-block a,
.social-links a {
  color: black;
}
